<h1><%= @members.count %> Order of the Phoenix Members</h1>
<% @members.each do |member| %>
  <ul class="members">
    <li class="name"><b>Name:</b> <%= member.name %></li>

    <% if member.has_role? %>
      <li class="role"><b>Role:</b> <%= member.role %></li>
    <% end %>
    <li class="house"><b>House:</b> <%= member.house %></li>
    <% if member.has_patronus? %>
      <li class="patronus"><b>Patronus:</b> <%= member.patronus %></li>
    <% end %>

  </ul>
<% end %>
