<h1><%= @characters.count %> Results</h1>
<% @characters.each do |character| %>
  <ul class="character">
    <li class="name"><%= character.name %></li>
    <li class="role"><%= character.role %></li>
    <li class="house"><%= character.house %></li>
    <li class="patronus"><%= character.patronus %></li>
  </ul>
<% end %>
